
table th {
  padding: 10px 20px;
}
table td {
  padding: 10px 20px;
}
.icon {
  width: 10px;
  height: 10px;
}
.downloadIcon {
  width: 24px;
  height: 24px;
  display: none; /* Скрыть по умолчанию */
}
@media (min-width: 380px) {
  .downloadIcon {
    display: block; /* Показать иконку при ширине больше 380px */
  }
}