@import "tailwindcss";

@theme { 
  --breakpoint-sm: initial;
  --breakpoint-md: 601px;
  --breakpoint-lg: 821px;
  --breakpoint-xl: 1441px;
  --breakpoint-2xl: 1920px;
  
  /* original --breakpoint-sm: 24.375rem;
  --breakpoint-md: 51.25rem;
  --breakpoint-lg: 90rem;
  --breakpoint-xl: 120rem;
  --breakpoint-2xl: initial; */


  /* redoed --breakpoint-sm: 37.5rem;
  --breakpoint-md: 80rem;
  --breakpoint-lg: 90rem;
  --breakpoint-xl: 120rem;
  --breakpoint-2xl: initial; */
}
* {
  font-family: Inter, sans-serif;
}
body {
  background-color: #FAFBFD;
}
.bg-item-default {  
  background-color: #FAFBFD;
}
.bg-item-default:hover {
  background-color: #F6F8FF;
}

.bg-item-active {
  background-color: #F6F8FF;
}

.btn-default {
  background-color: #fff;
  border: 1px solid #6374AD;
  color: #203887;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.btn-default:hover {
  background-color: #F6F8FF;
}
.btn-default:active {
  background-color: #F6F8FF;
  border: 1px solid #203887;
}
.btn-default:disabled {
  background-color: #fff;
  border: 1px solid #F0F0F1;
  color: #F0F0F1;
}

.btn-success {
  background-color: #00BA37;
  border: 1px solid #00BA37;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.btn-success:hover {
  background-color: #00A42A;
  border: 1px solid #00A42A;
}
.btn-success:active {
  background-color: #008A21;
  border: 1px solid #008A21;
}
.btn-success:disabled {
  background-color: #F0F0F1;
  border: 1px solid #F0F0F1;
  color: #787C82;
}

.btn-primary {
  background-color: #203887;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #6374AD;
}
.btn-primary:active {
  background-color: #4B5E9D;
}
.btn-primary:disabled {
  background-color: #F0F0F1;
  color: #787C82;
}

.btn-text {
  color: #203887;
  stroke: #203887;
}
.btn-text:hover {
  color: #6374AD;
  stroke: #6374AD;
}
.btn-text:active {
  color: #6374AD;
  stroke: #6374AD;
}
.btn-text:disabled {
  color: #F0F0F1;
  stroke: #F0F0F1;
}

.item-selected {
  background-color: #6374AD;
  color: #fff;
}
.icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  stroke: #232323;
}

input[type='checkbox'] { 
  padding: 66px;
  background-color: purple;
}
.input-checkbox {
  padding: 66px;
  background-color: purple;

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
